<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.monster.mapper.HouseMapper">

    <resultMap id="houseMap" type="com.monster.entity.House">
        <id column="house_id" property="houseId"></id>
        <result column="house_number" property="houseNumber"></result>
        <result column="house_area" property="houseArea"></result>
        <result column="house_status" property="houseStatus"></result>
        <result column="community_id" property="communityId"></result>
        <association property="owner" javaType="com.monster.entity.Owner">
            <id column="owner_uid" property="ownerUid"></id>
            <result column="owner_name" property="ownerName"></result>
            <result column="owner_phone" property="ownerPhone"></result>
        </association>
    </resultMap>

    <select id="list" parameterType="Integer" resultMap="houseMap">
        SELECT house_id,house_number,house_area,house_status,house.owner_uid,owner_name
        FROM house
        LEFT JOIN owner
        ON house.owner_uid=owner.owner_uid WHERE house.community_id = #{id};
    </select>

    <select id="selectByMap"  resultMap="houseMap">
        SELECT house_id,house_number,house_area,house_status,house.owner_uid,owner_name
        FROM house
        LEFT JOIN owner
        ON house.owner_uid=owner.owner_uid
        <where>
            <if test="houseNumber!=null and houseNumber!=''">
                and house_number like "%"#{houseNumber}"%"
            </if>
            <if test="houseStatus!=null">
                and house_status = #{houseStatus}
            </if>
            <if test="ownerName!=null and ownerName!=''">
                and owner_name like "%"#{ownerName}"%"
            </if>
            <if test="communityId!=null">
                and house.community_id=#{communityId}
            </if>
        </where>
    </select>

    <update id="selectOwner" parameterType="com.monster.entity.House">
        update house set owner_uid = #{owner.ownerUid} where house_id=#{houseId}
    </update>
</mapper>
