<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.monster.mapper.OwnerMapper">
    <resultMap id="ownerMap" type="com.monster.entity.Owner">
        <id column="owner_uid" property="ownerUid"></id>
        <result column="owner_name" property="ownerName"></result>
        <result column="owner_sex" property="ownerSex"></result>
        <result column="owner_id" property="ownerId"></result>
        <result column="owner_phone" property="ownerPhone"></result>
        <result column="community_id" property="communityId"></result>
        <result column="login_time" property="loginTime"></result>
        <collection property="parkings"  ofType="com.monster.entity.Parking">
            <id column="parking_id" property="parkingId"></id>
            <result column="parking_number" property="parkingNumber"></result>
        </collection>
        <collection property="houses"  ofType="com.monster.entity.House">
            <id column="house_id" property="houseId"></id>
            <result column="house_number" property="houseNumber"></result>
        </collection>
        <collection property="cars" ofType="com.monster.entity.Car">
            <id column="car_id" property="carId"></id>
            <result column="car_brand" property="carBrand"></result>
            <result column="car_number" property="carNumber"></result>
        </collection>
    </resultMap>

    <select id="list" parameterType="Integer" resultMap="ownerMap">
        select *
        from owner
        left join house
        on house.owner_uid=owner.owner_uid
        left join parking
        on parking.owner_uid=owner.owner_uid
        where owner.community_id=#{id};
    </select>

    <select id="selectByMap" resultMap="ownerMap">
        select *
        from owner
        left join house
        on house.owner_uid=owner.owner_uid
        left join parking
        on parking.owner_uid=owner.owner_uid
        <where>
            <if test="ownerName != null and ownerName!=''">
                and owner_name like "%"#{ownerName}"%"
            </if>
            <if test="ownerPhone != null and ownerPhone!=''">
                and owner_phone = #{ownerPhone}
            </if>
            <if test="communityId != null">
                and owner.community_id = #{communityId}
            </if>
        </where>
    </select>

    <select id="getById" parameterType="Integer" resultMap="ownerMap">
        select *
        from owner
        left join house
        on house.owner_uid=owner.owner_uid
        left join parking
        on parking.owner_uid=owner.owner_uid
        left join car
        on owner.owner_uid = car.owner_uid
        where owner.owner_uid=#{id};
    </select>


    <update id="updatePassword" parameterType="com.monster.entity.Owner">
        update owner set  owner_password = #{ownerPassword} where owner_phone = #{ownerPhone}
    </update>
</mapper>
