<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.monster.mapper.StatisticMapper">
    <select id="thismonth" resultType="com.monster.vo.StatisticVO">
        select count(*) as count,sum(order_total) as sum
        from houseorder
        where  MONTH(order_date) = MONTH(curdate());
    </select>
    <select id="notpay" resultType="com.monster.vo.StatisticVO">
        select count(*) as count,sum(order_total) as sum
        from houseorder
        where  MONTH(order_date) = MONTH(curdate())
        and  order_status=0;
    </select>
    <select id="thisyear" resultType="com.monster.vo.StatisticVO">
        select count(*) as count,sum(order_total) as sum
        from houseorder
        where  YEAR(order_date) = YEAR(curdate());
    </select>
    <select id="total" resultType="com.monster.vo.StatisticVO">
        select count(*) as count,sum(order_total) as sum
        from houseorder
        where order_status=1;
    </select>




    <select id="ownerthismonth" parameterType="Integer" resultType="com.monster.vo.StatisticVO">
        select count(*) as count,sum(order_total) as sum
        from houseorder o
        left join house h
        on o.house_id = h .house_id
        left join owner
        on owner.owner_uid = h.owner_uid
        where  h.owner_uid = #{id} and  MONTH(order_date) = MONTH(curdate());
    </select>
    <select id="ownernotpay" parameterType="Integer" resultType="com.monster.vo.StatisticVO">
        select count(*) as count,sum(order_total) as sum
        from houseorder o
        left join house h
        on o.house_id = h .house_id
        left join owner
        on owner.owner_uid = h.owner_uid
        where  h.owner_uid = #{id} and  MONTH(order_date) = MONTH(curdate())
        and order_status=0;
    </select>
    <select id="ownerthisyear" parameterType="Integer" resultType="com.monster.vo.StatisticVO">
        select count(*) as count,sum(order_total) as sum
        from houseorder o
        left join house h
        on o.house_id = h .house_id
        left join owner
        on owner.owner_uid = h.owner_uid
        where  h.owner_uid = #{id} and  YEAR(order_date) = YEAR(curdate());
    </select>
    <select id="ownertotal" parameterType="Integer" resultType="com.monster.vo.StatisticVO">
        select count(*) as count,sum(order_total) as sum
        from houseorder o
        left join house h
        on o.house_id = h .house_id
        left join owner
        on owner.owner_uid = h.owner_uid
        where  h.owner_uid = #{id} and order_status=1;
    </select>



    <select id="ownerthismonth2" parameterType="Integer" resultType="com.monster.vo.StatisticVO">
        select count(*) as count,sum(order_total) as sum
        from carorder o
            left join parking p
        on o.parking_id = p.parking_id
            left join owner
            on owner.owner_uid = p.owner_uid
        where  p.owner_uid = #{id} and  MONTH(order_date) = MONTH(curdate());
    </select>
    <select id="ownernotpay2" parameterType="Integer" resultType="com.monster.vo.StatisticVO">
        select count(*) as count,sum(order_total) as sum
        from carorder o
            left join parking p
        on o.parking_id = p.parking_id
            left join owner
            on owner.owner_uid = p.owner_uid
        where  p.owner_uid = #{id} and  MONTH(order_date) = MONTH(curdate())
        and order_status=0;
    </select>
    <select id="ownerthisyear2" parameterType="Integer" resultType="com.monster.vo.StatisticVO">
        select count(*) as count,sum(order_total) as sum
        from carorder o
            left join parking p
        on o.parking_id = p.parking_id
            left join owner
            on owner.owner_uid = p.owner_uid
        where  p.owner_uid = #{id} and  YEAR (order_date) = YEAR (curdate());
    </select>
    <select id="ownertotal2" parameterType="Integer" resultType="com.monster.vo.StatisticVO">
        select count(*) as count,sum(order_total) as sum
        from carorder o
            left join parking p
        on o.parking_id = p.parking_id
            left join owner
            on owner.owner_uid = p.owner_uid
        where  p.owner_uid = #{id} and  order_status=1;
    </select>
</mapper>